<a href="https://colab.research.google.com/github/MRunKnoWN86/WebScraping-using-Python/blob/main/ShapeAIproj.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [261]:
import pandas as pd
import re
import requests
from bs4 import BeautifulSoup

column = ['Name_Player','Age','Overall','Potential','Team_name','Contract_Year','Value','Wage','Total_stats']
FIFAdata = pd.DataFrame(columns = column)
url = 'https://sofifa.com/players?offset='

In [267]:

for j in range(0,10):
    url = 'https://sofifa.com/players?offset='
    url = url + str(j*60) 
    rsp = requests.get(url)
    soup = BeautifulSoup(rsp.content , 'lxml')
    table = soup.find('tbody')
    for i in table.findAll('tr'):    
        td = i.findAll('td')
        NAME = td[1].findAll('a')[0].text
        AGE = td[2].text
        OVA = td[3].text
        POT = td[4].text
        TEAM_NAME = td[5].find('a').text
        CONTRACT = td[5].findAll('div')[1].text.strip()
        VALUE = re.sub('€','',td[6].text)
        WAGE = re.sub('€','',td[7].text)
        TOTAL_STATS = td[8].text



df = pd.DataFrame([[NAME,AGE,OVA,POT,TEAM_NAME,CONTRACT,VALUE,WAGE,TOTAL_STATS]])
df.columns = column
FIFAdata = FIFAdata.append(df, ignore_index = True)

FIFAdata.head()

  Name_Player Age Overall Potential  ...  Contract_Year  Value  Wage Total_stats
0    K. Navas  34      88        88  ...  \n2019 ~ 2024  15.5M  130K        1428
1      J. Tah  25      78        82  ...  \n2015 ~ 2025  17.5M   43K        1615
2    Angeliño  24      83        86  ...    2021 ~ 2025    46M   77K        2209
3    Angeliño  24      83        86  ...    2021 ~ 2025    46M   77K        2209
4    Angeliño  24      83        86  ...    2021 ~ 2025    46M   77K        2209

[5 rows x 9 columns]

In [242]:
FIFAdata.to_csv('FIFAdatas.csv', index = None)